/*
    RESET
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* 
    GENERAL
*/
body {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    background-color: #F6F8F9;
}


/*
    HEADER
*/
header {
    background-color: white;
    padding: 20px 30px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 60px;
}

.logo {
    vertical-align: middle;
    height: 75px;
    width: 75px;
}


/* 
    MAIN
*/
.btn, section {
    background-color: white;
    width: 70%;
    /* padding-right: 50px; */
}

/*
    ---BUTTON_AREA
*/
.btn{
    margin: 40px auto 0; 
    border-radius: 5px 5px 0 0;
    padding: 15px 50px;
}

button {
    padding: 5px 10px;    
    border-radius: 5px;
}

#btn-task {
    color: white;
    background-color: #14AAF5;
    border: 1px solid #14AAF5;
}

#btn-section {
    color: #C4CBD0;
    background-color: white;
    border: 1px solid #C4CBD0;
}

/*
    ---LIST_AREA
*/

/* LIST */
section {
    border-radius: 0 0 5px 5px;
    margin: 2px auto;
    padding: 35px 50px;
}

ul {
    list-style: none;
}

.list-name, li {
    color: #434851;
    font-size: 20px;
}

li {
    font-weight: 400;
    padding: 7px;
}

/* TO DO? */
.check, .cross {
    display: inline-block;
    height: 13px;
    width: 13px;
    border-radius: 100%;
    text-align: center;
    line-height: 12px;
    font-size: 10px;
}

.check {
    border: 1px solid green;
    color: green;
}

.cross {
    border: 1px solid red;
    color: red;
}

/* TAGS */
.tag {
    font-size: 12px;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
}

.tag-edit {
    background-color: #14AAF5;
}

.tag-goal {
    background-color: #ab5de6;
}

.tag-recr {
    background-color: #2CC6AB;
}

.tag-mob {
    background-color:  #FF9B00;
}

.tag-web {
    background-color: #EC4A9D;
}

.tag-sale {
    background-color: #A3D116;
}